@use 'sass:math';

@font-face {
    font-family: "NHD";
    src: url("./Fonts/");
}

@font-face {
    font-family: "Manrope";
    src: url("./Fonts/Manrope.ttf");
}

@font-face {
    font-family: "Darker";
    src: url("./Fonts/Darker.ttf");
}

$lightGreen :hsl(168, 64%, 24%);
// $lightGreen: #008c15;
$complimentaryColor: #ff9f06;
$complimentaryDarkColor: #f49a0ad0;
$matteBlack: #464545;
$darkBlack: #18191b;
$white: #fff;
$lightGrey: #f7f7f7;


:root {
    --h1size: 4.25rem;
    --h2size: 2.25rem;
    --h3size: 1.3rem;
    --h4size: 1.1rem;
    --psize: 1.3rem;

    --headerHeight: 4.5rem;
    --contentPadding: 7rem;
    --minPadding: 5rem;
    --textContainerMax: 900px;

    --helloContentPosition: 21rem;

    --chunkPaddingTopBot: 6rem;

    --logoContainerHeight: 5rem;
    --logoContainerMargin: 8rem;
    --customerLogoWidth: 20rem;

    --serviceCardPadding: 2.5rem;

    --largePicMargin: 2rem;
    --largePicFlex: 1.5;

    --commonPageHeaderHeight: 475px;
    --businessh1Size: 6vw;
}


* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Manrope, sans-serif;
    color: $darkBlack;

    box-sizing: border-box;
    font-size: 13px;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;


    a {
        text-decoration: none;
        font-size: inherit;
        font-weight: inherit;
    }
}

h1 {
    font-size: var(--h1size);
    font-family: Darker, serif;
    margin-bottom: 1.75rem;
    font-weight: 600;
}

h2 {
    font-size: var(--h2size);
    // font-family: Antic;
    font-weight: 400;
}

h3 {
    font-weight: normal;
    font-size: var(--h3size);
}


h4 {
    font-weight: normal;
    font-size: var(--h4size);
}

strong {
    font-size: var(--psize);
    font-weight: normal;
    margin: 0;
}

p {
    font-size: var(--psize);
    color: $matteBlack;
}

html,
body {
    height: 100%;
    position: relative;
    scroll-behavior: smooth;

}

//to make chunk's vh units consistent across mobile

body {
    background-color: $white;
    display: flex;
    flex-direction: column;
    // max-width: 1200px;
    // margin: auto;
}

.forceFooterDown {
    flex: 1 1 auto;
}

.landingpageContentWrapper {
    flex: 1 1 auto;
    width: 100%;
    max-width: 3840px;
    margin: 0 auto;
}

/////////////////////////////////////////////////////////////////////////////////////// 
/// HEADER STYLES
////////////////////////////////////////////////////////////////@at-root


.header {
    position: fixed;
    z-index: 105;
    width: 100%;
    padding-left: calc(100vw - 100%);
    max-width: 100%;
    height: var(--headerHeight);
    box-shadow: 0px 0px 10px .5px rgba(0, 0, 0, 0.07);
    background-color: rgba($white, 1);
    border-bottom: 1px solid rgb(226, 225, 225);



    #headerFlexContainer {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0rem calc(var(--minPadding) - calc((100vw - 100%)/2));


        #logo {
            height: calc(var(--h2size)*.9);
            margin: 0 auto;
        }

        #headerRight {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            list-style-type: none;

            li {
                height: 100%;

                #headerContactButton,
                .desktopNav {
                    font-size: calc(var(--h3size)*0.95);
                    font-weight: 600;
                    padding: .5rem 1.25rem;
                    // margin: 0 0.25rem;
                    border-radius: .3rem;
                }

                #headerContactButton {
                    color: #fff;
                    border: 1px $complimentaryColor solid;
                    background-color: $complimentaryColor;
                    border-radius: .3rem;
                    margin-left: 2rem;
                    transition: box-shadow .25s ease-in-out;
                }

                #headerContactButton:hover {
                    box-shadow: 0 0 7px 0 $complimentaryDarkColor;
                    cursor: pointer;
                }

                .desktopNav {
                    color: $matteBlack;
                }

                .desktopNav:hover {
                    background-color: rgba(0, 0, 0, .1);
                    color: $darkBlack;
                    // text-decoration: underline;
                    cursor: pointer;
                }

            }
        }
    }
}


/////////////////////////////////////////////////////////////////////////////////////// 
/// FOOTER STYLES
////////////////////////////////////////////////////////////////@at-root

#footer {
    width: 100%;
    flex-shrink: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: calc(var(--minPadding)/1.25) var(--minPadding);
    background-color: #1b1b1b;
    justify-content: center;
    // border-radius: 1.5rem 1.5rem 0 0;

    ul {
        list-style: none;
        margin: auto 2rem;
    }


    h3 {
        font-weight: bold;
        color: white;
        margin-bottom: 0.15rem;
    }

    img {
        height: 2.75rem;
    }

    #externalLinks li {
        display: inline;
        padding: 0 0.8rem;
    }

    #footerTagline {
        position: absolute;
        top: 50%;
        left: 3%;
        transform: translateY(-50%);

        #second {
            margin-left: 1rem;
        }

        #third {
            margin-left: 3rem;
        }

        h2 {
            padding: 0.25rem 0;
            color: #ffffff4d
        }
    }
}

#footer * {
    color: #f8f8f8;
    margin-bottom: 0.05rem;
}

/////////////////////////////////////////////////////////////////////////////////////////////
//Shared Classes

.animateLeft,
.animateRight {
    opacity: 0;
}

.buttonTransition {
    transition-property: background-color, color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

//////////////////////////////////////////////////////////////////////////////////////////////
/// LANDING PAGE STYLES

.fullscreenView {
    height: 80vh;
    width: 100%;
    margin-top: var(--headerHeight);
    border: 2rem solid white;
}

.heroScreen {
    border-radius: 1.5rem;
    background: no-repeat center url("./media/pics/landingPageAssets/heroGreenBackgroud.webp");
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 5rem;

    display: flex;
    flex-direction: row;
    align-items: center;

    .heroText {

        h1,
        em,
        p {
            color: white;
        }

        h1 {
            // padding-bottom: 1.5rem;
        }

        em {
            font-size: var(--h1size);
            font-family: Darker, serif;
        }

        p {
            font-size: calc(var(--h1size)*0.45);
        }

        flex:1;
    }

    .heroModel {
        flex: 1;
    }

}

.heroModel {
    position: relative;
    width: 100%;
    height: 100%;

    model-viewer {
        height: 100%;
        width: 100%;
    }

}

.textfullScreenView {
    margin: 20rem auto;
    width: 80vw;
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: center;

    line-height: 1.25;

    p {
        font-size: (var(--h2size));
        color: $darkBlack;
    }

    .logo {
        height: 60px;
        flex: 1 1 150px;
        /* Adjusts the flex-basis and allows flexibility */
        max-width: 150px;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            // pointer-events: none;
            filter: grayscale(100%);
            transition: filter 0.25s ease-in;
        }

        img:hover {
            filter: grayscale(0%);
        }
    }
}

.logoTextContainer {
    display: flex;
    flex-direction: column;


    b {
        font-size: var(--h2size);
        color: $lightGreen;
    }

    .logoContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-top: 5rem;
        row-gap: 3rem;
    }
}

.carouseltextContainer {
    margin: 15rem auto 2rem auto;
    position: relative;



    img {
        height: 15rem;
        width: 15rem;
        opacity: .1;
        position: absolute;
        top: -75px;
        left: -70px;

        transform: translate(-45%, -45%);


    }

    .spin {
        animation: spin 30s linear infinite;
    }
}


.contactUs {
    background: url("./media/pics/landingPageAssets/grainyYellowTinge.webp");
    width: 80vw;
    max-width: 1600px;
    margin: 13rem auto;
    padding: 6rem 6rem 5rem 6rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 20px 0 #f6a0153a;

    .contactUsElements {
        flex: .35;
        border-radius: 0.5rem;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        h1 {
            color: #1a1a1a;
            margin: 0;
            text-decoration: overline white;

            //    font-size: calc((var(--h1size))*1.15);
            //    transform: rotate(-90deg) translateY(var(--h1size));
            //    transform-origin: bottom left ;
        }

        .groupedContactUsElements {
            background-color: rgb(255, 255, 255);
            padding: 2rem;
            border-radius: 0.5rem;


            a {
                background-color: $complimentaryColor;
                padding: 1rem 2rem;
                font-size: var(--psize);
                border-radius: 0.5rem;
                color: white;
                display: flex;
                align-items: center;
                max-width: fit-content;
                font-weight: 600;
                margin: 2rem auto 0 auto;
                transition: box-shadow .25s ease-in-out;

                img {
                    margin-right: 1rem;
                    background-color: #ffffff36;
                    padding: 0.5rem;
                    border-radius: 0.25rem;
                    ;
                }
            }

            a:hover {
                cursor: pointer;
                box-shadow: 0 0 10px 0 $complimentaryDarkColor;
            }
        }


    }

    form {
        flex: .65;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 3rem;

        p {
            margin-bottom: 1rem;
            font-size: calc(var(--psize)*1.2);
        }

        .inputField {

            // min-height: 3rem;
            min-width: 100%;
            position: relative;
            margin-bottom: 1rem;


            .requiredIndicator {
                position: absolute;
                left: auto;
                right: 1rem;
                top: 1rem;
                color: $lightGreen;
            }

            input,
            textarea {
                background-color: #ffffffac;
            }

            input,
            textarea,
            button {
                width: 100%;
                height: 100%;
                padding: calc(var(--h2size)*1.2) 1rem 1rem 1rem;
                font-size: var(--psize);
                border-radius: 0.35rem;
                resize: none;
            }

            label {
                position: absolute;
                left: 0;
                top: 50%;
                padding: 0.25rem 0 0 1rem;
                transform: translateY(-50%);
                font-size: var(--psize);
                pointer-events: none;
                transition: ease-out 0.15s;
            }

            textarea+label {
                top: 2rem;
            }


            input:focus+label,
            textarea:focus+label {
                top: 0;
                transform: scale(0.8) translateX(-8%);
                color: $matteBlack;
            }

            input:not(:placeholder-shown)+label,
            textarea:not(:placeholder-shown)+label {
                top: 0;
                transform: scale(0.8) translateX(-8%);
                // transform-origin: top left;
                color: $matteBlack;
            }

        }

        .button {


            button {
                padding: 1.25rem;
                background-color: $complimentaryColor;
                color: $white;
                font-weight: 500;
                transition: box-shadow .2s ease-in-out;
            }


            button:hover {
                cursor: pointer;
                box-shadow: 0 0 10px 0 $complimentaryDarkColor;
            }
        }

    }
}

.landingPageProducts {
    width: 80vw;
    max-width: 1600px;

    margin: auto;

    h2 {
        font-family: Darker, serif;
        margin-bottom: 1.5rem;
        text-align: center;
        font-weight: 600;
        font-size: var(--h1size);
        text-decoration: underline $complimentaryColor;
    }

    p {
        font-size: calc(var(--psize)*1.2);
    }

    .modelContainer {
        margin: 2rem auto;
        display: flex;
        flex-direction: row;


        padding: 2.5rem 4rem;
        // border-radius: 1rem;
        border: 1px solid grey;

        .modelTextContainer {
            flex: 0.3;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h3 {
                font-family: Darker, serif;
                font-size: var(--h2size);
                font-weight: 550;
                color: $lightGreen;
                margin-bottom: 1.25rem;
            }

            ul {
                padding-left: 1rem;

                li {
                    list-style-type: "\2726";
                    padding-left: 1rem;
                    font-size: var(--psize);
                }
            }


        }

        .theModel {
            flex: 0.7;
            height: 500px;
            padding: 2rem;

            position: relative;



            model-viewer {
                width: 100%;
                height: 100%;


                button {
                    color: white;
                    background-color: #166354ea;
                    font-size: calc(var(--psize));
                    font-weight: 600;
                    border-radius: 4px;
                    padding: 1rem 2rem;
                    border: none;
                    position: absolute;
                    bottom: 2%;
                    left: 50%;
                    transform: translateX(-50%);
                    border-radius: 1rem;
                    width: 90%;
                }

            }

        }
    }

    .modelContainerReverse {
        flex-direction: row-reverse;
    }

    .specialText {
        margin: 5rem auto;
        text-align: center;

        h2 {
            text-decoration: none;

            .specialText {
                font-size: calc(var(--h1size)*0.8);
                color: $complimentaryColor;
                ;
            }
        }

        a {
            color: #fff;
            font-size: var(--h2size);
            border: 1px $complimentaryColor solid;
            background-color: $complimentaryColor;
            border-radius: .3rem;
            transition: box-shadow .25s ease-out;
            padding: 1rem 2rem;
            margin-top: 2rem;
            display: block;
            max-width: fit-content;
            margin: auto;
        }

        a:hover {
            box-shadow: 0 0 7px 0 $complimentaryDarkColor;
            cursor: pointer;
        }
    }

}

////Swiper styles


.swiper {
    width: 100%;
    height: 60vh;
    margin-right: 0;
    align-items: center;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
    // counter-reset: list-slider;
}



.swiper-slide {
    position: relative;
    height: 85%;
    display: flex;
    flex-direction: column;
    // counter-increment: list-slider;
    // opacity: 1;  
    opacity: 0.5;
    scale: 0.75;
    filter: grayscale(1);
    transition: opacity .25s ease-out, scale .25s ease-out;

}

.title {
    opacity: 0;
    margin-bottom: 1rem;
    font-family: Darker, sans-serif;
    font-size: calc(var(--h2size)*1.35);
    font-weight: 500;
    text-align: center;
    transition: transform 500ms ease;
    transition-delay: 100ms;
    transform: translateY(-25%);
    color: $lightGreen;
}

.description {
    opacity: 0;
    text-align: center;
    margin-top: 1rem;
    // color: var(--color-light);
    transform: translateY(25%);
    transition: transform 500ms ease;
    transition-delay: 200ms;
}

.swiper-slide-active {
    opacity: 1;
    scale: 1;
    filter: grayscale(0.25);

    .title,
    .description {
        opacity: 1;
        transform: translateY(0);
    }

    .imageContainer {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
}


.imageContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0.5rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.swiper-pagination-bullet {
    width: 2rem;
    height: 0.25rem;
    background-color: black;
    border-radius: 0;
}

.swiper-button-next,
.swiper-button-prev {
    color: white;
    padding: 3rem 2.5rem;
    background-color: $lightGreen;
    border-radius: 5px;
    margin: auto 2rem;
    transition: background-color .1s ease-out;

}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: #05876d;
}

/////////////////////////

.accordianBlock {

    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    border-radius: 0.5rem;

    h2 {
        font-family: Darker, sans-serif;
        font-weight: 500;
        font-size: calc(var(--h1size)*.8);
        margin: 10rem 0 1rem 0;
        padding-top: 5rem;
        text-align: center;
    }

    width: 80vw;
    max-width:1600px;
    margin:5rem auto;

    .accordianWrapper {
        border-bottom: 1px solid rgb(241, 241, 241);
    }

    .accordianItem {

        padding: 2rem 5rem 5rem 5rem;


        .accordianTitleBlock {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            cursor: pointer;
            padding: 0.5rem 1rem;
            border-radius: 0 0 0.5rem 0.5rem;
            background-color: white;
            transition: background-color 0.25s ease-out;



            h3 {

                font-family: Darker, sans-serif;
                font-size: 2rem;
                font-weight: 500;
                transition: color 0.25s ease-out;
                height: 100%;
            }


            svg {
                height: 2.5rem;
                width: 2.5rem;
                padding: 5px;
                border-radius: 5px;
                fill: #b7b7b7bf;
                transition: transform 0.25s ease-out, fill 0.25s ease-out;
            }
        }

        .accordianTitleBlock.active {
            background-color: #eeeeee74;

            h3 {
                color: $lightGreen;
                font-weight: 600;
            }
        }

        .accordianTitleBlock.active svg {
            transform: rotate(90deg);
            fill: $lightGreen;
        }



        .expandedAccordianBlock>p {

            margin: 1rem 0;
        }

        .expandedAccordianBlock {
            padding: 0 1rem;
            margin: 0.5rem 0;
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            transition: opacity 0.25s ease-in;



            .expandedBorder {
                border: 1px solid rgb(227, 227, 227);
                padding: 0.5rem 1rem;
                margin: auto 1rem;
                // max-width: 500px;
            }

            .first {
                border-bottom: none;
            }


            .expandedBorder:last-child {
                margin-bottom: 2rem;
            }

            h4 {

                font-size: calc(var(--psize)*1.1);
                font-weight: 400;

            }
        }

        .expandedAccordianBlock.active {
            opacity: 100;
            max-height: fit-content;
        }

    }

}





/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///KEYFRAME ANIMATIONS GO HERE//////
/// 
/// 
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes animateLeft {
    0% {
        opacity: 0;
        transform: translate(10%, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes animateRight {
    0% {
        opacity: 0;
        transform: translate(-10%, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0.1;
        transform: translate(30%, 0);
    }
}


@keyframes scrollDown {
    0% {
        bottom: 15%;
        opacity: 0.15;

    }


    60%,
    100% {
        bottom: 11%;
        opacity: 1;

    }
}


@keyframes expandNavBar {

    30%,
    70% {
        width: 100%
    }


}


///MEDIA QUERIES
/// 
/// 

@media (max-width:1440px) {
    .contactUs {
        flex-direction: column;

        form {
            padding: 0 3rem;
        }

        .contactUsElements{
            flex-direction: column-reverse;
            margin-bottom: 3.5rem;

            h1{
                margin-bottom:2rem;
            }
        }

        
    }
}

@media (max-width:950px) {

    :root {
        --h1size: 3.5rem;
        --h2size: 2rem;
    }

    .heroScreen {


        flex-direction: column;
        position: relative;

        .heroText {
            position: relative;
            z-index: 10;
            position: absolute;
            margin: auto;
            width: 100%;
            height: 100%;
            top: 0%;
            left: 0%;
            padding: 0 3rem 5rem 3rem;

            display: flex;
            flex-direction: column;
            // align-items: center;
            justify-content: flex-end;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 30%);
            border-radius: 1.5rem;

            h1 {
                margin-bottom: 1rem;
            }

        }

        .heroModel {
            position: relative;
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .textfullScreenView {
        margin: 7rem auto 10rem auto;
    }

    .carouseltextContainer {
        margin: 15rem auto 2rem auto;
    }

    #footerTagline {
        display: none;
    }

    .logo {
        flex: 1 1 50px;
        height: 40px;
    }

    .landingPageProducts .modelContainer {
        flex-direction: column-reverse;
        padding: 1rem;

        .modelTextContainer {
            flex: 1;
            padding: 1rem;
            margin: 1rem auto;

            h3 {
                text-align: center;
                font-weight: 600;
                // margin-top:1rem;    
            }
        }

        .theModel {
            flex: 1;
            padding: 0;
            // width: 100%;

            model-viewer {
                // width: 100%;
                height: 55vh;
            }

        }
    }

    .landingPageProducts .modelContainerReverse {
        flex-direction: column-reverse;
    }   


}

@media (max-width:600px) {

    #footer {
        ul:first-child {
            display: none;
        }

        img {
            height: 3rem;
        }

        #externalLinks {
            display: flex;
            flex-direction: column;

            li {
                padding: 0;
                margin-bottom: .5rem;
            }
        }
    }


}