// @font-face {
//     font-family: "Inter";
//     src: url("./Fonts/Inter.ttf");
// }

@use 'sass:math';

@font-face {
    font-family: "NHD";
    src: url("./Fonts/NHGD/NeueHaasDisplayMediumItalic.ttf");
}

@font-face {
    font-family: "Manrope";
    src: url("./Fonts/Manrope.ttf");
}

$lightGreen :hsl(168, 64%, 24%);
// $lightGreen: #008c15;
$yellow: #ffe066;
$yellowHover: #f0d83f;
$complimentaryColor: #B03C00;
$matteBlack: #464545;
$darkBlack: #18191b;
$white: #fff;
$lightGrey: #f7f7f7;



:root {
    --h1size: 3.75rem;
    --h2size: 2rem;
    --h3size: 1.3rem;
    --h4size: 1.1rem;
    --psize: 1.3rem;

    --headerHeight: 4.5rem;
    --contentPadding: 7rem;
    --minPadding: 5rem;
    --textContainerMax: 900px;

    --helloContentPosition: 21rem;

    --chunkPaddingTopBot: 6rem;

    --logoContainerHeight: 5rem;
    --logoContainerMargin: 8rem;
    --customerLogoWidth: 20rem;

    --serviceCardPadding: 2.5rem;

    --largePicMargin: 2rem;
    --largePicFlex: 1.5;

    --commonPageHeaderHeight: 475px;
    --businessh1Size: 6vw;
}


* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Manrope, sans-serif;
    color: $darkBlack;

    box-sizing: border-box;
    font-size: 13px;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;


    a {
        text-decoration: none;
        font-size: inherit;
        font-weight: inherit;
    }
}

h1 {
    font-size: var(--h1size);
    margin-bottom: 1.75rem;
    // font-weight: normal;
    color: $lightGreen;
}

h2 {
    font-size: var(--h2size);
    font-weight: regular;
}

h3 {
    font-weight: normal;
    font-size: var(--h3size);
}


h4 {
    font-weight: normal;
    font-size: var(--h4size);
}

strong {
    font-size: var(--psize);
    font-weight: normal;
    margin: 0;
}

p,
#yearsAlive {
    font-size: var(--psize);
    color: $matteBlack;
}

.chunk {
    width: 100%;
    //This ensures that each "chunk" of the main page is contained in the viewport in landscape
    height: 100vh;
    //This ensures that each "chunk" of the main page is contained in the viewport in potrait
    max-height: 100vw;
}

.chunkMinHeight {
    //If browser is resized, this ensures that each chunk has a min height to maintain aspect ratio
    min-height: calc(100vw*7/16);
}

html,
body {
    height: 100%;
    position: relative;
    scroll-behavior: smooth;
}

//to make chunk's vh units consistent across mobile

body {
    background-color: $white;
    display: flex;
    flex-direction: column;
}

.forceFooterDown {
    flex: 1 1 auto;
}

/////////////////////////////////////////////////////////////////////////////////////// 
/// HEADER STYLES
////////////////////////////////////////////////////////////////@at-root


.header {
    position: fixed;
    z-index: 105;
    width: 100%;
    padding-left: calc(100vw - 100%);
    max-width: 100%;
    height: var(--headerHeight);
    box-shadow: 0px 0px 10px .5px rgba(0, 0, 0, 0.07);
    background-color: rgba($white, 1);
    border-bottom: 1px solid rgb(226, 225, 225);



    #headerFlexContainer {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0rem calc(var(--minPadding) - calc((100vw - 100%)/2));


        #logo {
            height: calc(var(--h2size)*.9);
            margin: 0 auto;
        }

        #headerRight {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            list-style-type: none;

            li {
                height: 100%;

                #headerContactButton,
                .desktopNav {
                    font-size: calc(var(--h3size)*0.95);
                    font-weight: 600;
                    padding: .5rem 1.25rem;
                    // margin: 0 0.25rem;
                    border-radius: .3rem;
                }

                #headerContactButton {
                    color: $complimentaryColor;
                    border: 1px $complimentaryColor solid;
                    border-radius: .3rem;
                    margin-left: 2rem;
                }

                #headerContactButton:hover {
                    background-color: $complimentaryColor;
                    color: $white;
                    cursor: pointer;
                }

                .desktopNav {
                    color: $matteBlack;
                }

                .desktopNav:hover {
                    background-color: rgba(0, 0, 0, .1);
                    color: $darkBlack;
                    // text-decoration: underline;
                    cursor: pointer;
                }

                #openSideNav {
                    position: relative;
                    cursor: pointer;
                    display: none;
                    background-color: transparent;
                    width: calc(var(--h3size)*2.7);
                    height: 100%;
                    margin-left: var(--minPadding);

                    #longBar,
                    #midBar,
                    #shortBar {
                        height: 2px;
                        min-height: 2px;
                        margin: 0.45rem 0;
                        background-color: rgb(37, 37, 37);
                        transition: width 0.2s ease-in;
                        margin-left: auto;
                    }

                    #longBar {
                        width: 100%;
                    }

                    #midBar {
                        width: 70%;
                        animation: 2.5s expandNavBar infinite ease-out;
                    }

                    #shortBar {
                        width: 50%;
                        animation: 2.5s expandNavBar infinite ease-out;
                    }
                }

                // #openSideNav:hover {
                //     cursor: pointer;

                //     #longBar,
                //     #midBar,
                //     #shortBar {
                //         width: 100%;
                //     }
                // }
            }
        }
    }
}

/////////////////////////////////////////////////////////////////////////////////////// 
/// Side Nav Styles
////////////////////////////////////////////////////////////////@at-root



dialog {
    position: fixed;
    top: 0;
    right:0;
    max-width: 100vw;    
    max-height: 100vh;

    width:100vw;
    height:100vh;
    background-color: $darkBlack;
    
    animation: .3s animateLeft ease-in;

    .sideNavContents{
        padding:10rem 5rem 0 5rem;
    }

    ul > li{
        border-bottom:0.5px solid $lightGrey;
    }
 

    ul,
    li {
        font-size: (var(--h2size));
        font-weight: 600;
        // margin: 1.5rem auto;

        a {
            color: $white;
            display: block;
            padding: 3rem 2rem;
            min-width: 200px;   
            border-radius: 0.25rem; 
            transition: background-color 0.15s ease-in;        
        }      

        a:hover{
            background-color: #47a7a2;
            
        }
    }

   

    #nestedList > li{
        border:none;
        
    }

    //Close dialog button
    #closeSideNav {
        position: absolute;
        top: 0;
        right: 0;
        left: auto;
        margin: var(--minPadding) var(--minPadding) 0 0;
        background-color: transparent;
        padding: 0.75rem 1rem;
        border-radius: 0.25rem;
        transition: background-color 0.2s ease-in;

        img {
            height: calc(var(--headerHeight) - var(--h3size));
            margin: none;
        }
    }

    #closeSideNav:hover {
        background-color:#47a7a2;
        cursor: pointer;
    }

    ul {
        list-style: none;
    }

    #nestedList>li {

        padding-left: calc(var(--minPadding));
        color: $matteBlack;

    }

}

//adding class to dialog for animation before trigerring .close()
dialog.onClose {
    animation: .2s fadeOut ease-in;
}


//Initially had a backdrop that would blur the area that the dialog didnt conver but decided to make the dialog fullscreen so no need for sideNavBackdrop. Archiving...
// #sideNavBackdrop {

//     width: 100vw;
//     height: 100vh;
//     position: fixed;
//     top: 0;
//     left: -100%;
//     z-index: 999;

//     background-color: transparent;
//     backdrop-filter: none;

//     transition: background-color .3s ease-in, backdrop-filter .3s ease-in;

// }

// #sideNavBackdrop.isActive {
//     left: 0;
//     background-color: rgba(0, 0, 0, 0.4);
//     backdrop-filter: blur(0.3rem);
// }


/////////////////////////////////////////////////////////////////////////////////////// 
/// LANDING PAGE STYLES
////////////////////////////////////////////////////////////////@at-root


#firstSection {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;


    #helloContent {

        max-width: var(--textContainerMax);
        margin: 0 var(--minPadding);
        padding-bottom: var(--helloContentPosition);
        text-align: left;


        p,
        #yearsAlive {
            font-size: calc(var(--h2size)*.8);
            font-weight: lighter;
        }
    }

    #helloContent * {
        color: $white;
    }

    video {
       
         object-position: left;
        object-fit: cover;
        width: 100%;
        max-width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        filter: brightness(30%);
    }

    img{
        object-fit: cover;
        width: 100%;
        max-width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
        object-position: left;
        filter: brightness(30%);
    }

    #iconScrollDown {
        position: absolute;
        left: 50%;
        background: url(./media/icons/line-angle-down-icon.svg) center no-repeat content-box;
        animation: 1.5s infinite scrollDown ease-in-out;
        width: 3.5rem;
        height: 3.5rem;
        padding: 1rem;
        border: 1px solid rgba(255, 255, 255, 1);
        border-radius: 5rem;
    }


}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 


#secondSection {
    padding: var(--contentWidth);
    position: relative;
    background-image: url(./media/pics/abstractBackground.webp);
    background-size:cover;
    background-repeat:no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    #customerContent {
        padding-top: var(--headerHeight);
        text-align: left;
        width: 100%;
        max-width: var(--textContainerMax);
        z-index: 99;

        * :not(strong) {
            margin: 0 var(--minPadding);
        }

        .custContent a{
            margin:0;
            text-decoration: underline dotted $lightGreen 0.1rem;
        }

        .custContent:last-child {
            padding-top: 2rem;
        }
        

        h1 {
            text-align: center;
            margin-bottom: 1.4rem;
        }

    }

    #logoFlexContainer {   
        overflow: hidden;
        width:var(--textContainerMax);      
        position: relative; 
        margin: var(--logoContainerMargin) 0;
        min-height:var(--logoContainerHeight) ;
    }

    #logoFlexContainer::after{
        content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, rgb(255, 255, 255) 5%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 75%, rgb(255, 255, 255) 95%);
            pointer-events: none; 
            z-index: 1;
    } 

    .logosRow {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;       
        animation: logoBannerScroll 55s linear infinite;     
    }  

    .logoContainer {
        flex: 0 0 var(--customerLogoWidth);
        height: var(--logoContainerHeight);        
        // min-width:8rem;      
        // margin: var(--logoContainerMargin) 0;
    }

    img {
        width: 100%;
        height: 100%;
        // padding: 0 1rem;
        object-fit: contain;
        pointer-events: none;
    }
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

#thirdSection {
    // background-color: #011716;
    position:relative;    
    padding: calc(var(--minPadding)) calc(var(--minPadding));
    min-height: calc(500px + 3*(var(--contentPadding)));


    #thirdSectionContainer {
        
        position:relative;
        z-index:6;
        height: 100%;
        width: 100%;
        padding: calc(var(--contentPadding)/3) calc(var(--contentPadding)/1.5);
        background-color: $white;
        border-radius: 1.75rem 3rem;
      
        
        display: flex;
        flex-direction: row;
        align-items: center;

        box-shadow: 0 .5rem 2rem rgba(17, 17, 26, 0.15);

        // box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;

        #servicesContent {
            flex: 1;
            margin-right: 2rem;

            h1 {
                color: $lightGreen;
            }
        }


        #cardFlexContainer {
            height: 100%;
            width: 100%;
            flex: 2.5;

            display: flex;
            flex-wrap: wrap;

            .servicesCard {
                // position: relative;
                margin: auto;
                padding: var(--serviceCardPadding);
                height: calc(50% - 1.25rem);
                min-height: 230px;
                width: calc(50% - 1.25rem);

                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                cursor: pointer;
                border-radius: 0.75rem;
                // transition: all 0.25s ease-in-out;

                #learnMoreContainer {
                    display: inline-flex;
                    flex-direction: row;
                    // align-items: flex-end;
                    justify-content: flex-start;
                    align-items: center;
                    height: var(--h3size);
                }

                #learnMoreContainer::after {
                    content: "";
                    background: url('./media/icons/arrow-thin-right-icon.svg') no-repeat center;
                    transform: rotate(-45deg) scale(1.5);
                    // transform: scale(2);
                    height: var(--h3size);
                    width: var(--h3size);
                    transition: transform 0.25s ease-in-out;
                }

                #learnMoreContainer h3 {
                    max-width: 0;
                    opacity: 0;
                    overflow: hidden;
                    white-space: nowrap;
                    // transition: all .75s ease-in-out;
                    transition-property: max-width, opacity, margin-right;
                    transition-duration: 0.75s;
                    transition-timing-function: ease-in-out;
                }
            }

            // .servicesCard:hover {
            //     transform: scale(1.02);
            //     // box-shadow: rgba(100, 100, 111, 0.4) 0rem 0.4rem 2rem 0rem;
            //     // background: #011c1a;
            // }

            .servicesCard * {
                margin: .5rem 0;
                color: $white;
            }


            .servicesCard p {
                max-height: 0;
                opacity: 0;
                overflow: hidden;
                // transition: all .5s ease-in-out;
                transition-property: max-height, opacity;
                transition-duration: 0.5s;
                transition-timing-function: ease-in-out;
            }


            .servicesCard:hover p {
                height: auto;
                max-height: 500px;
                opacity: 1;
            }

            .servicesCard:hover #learnMoreContainer h3 {
                max-width: 15rem;
                margin-right: 3rem;
                width: auto;
                overflow: hidden;
                opacity: 1;
            }

            .servicesCard:hover #learnMoreContainer::after {
                transform: rotate(0);
            }

            #engineeringCard {
                background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .8)), url(./media/pics/engineering.webp) center no-repeat;
                background-size: cover;
            }

            #manfacturingCard {
                background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .7)), url(./media/pics/welding.webp) center no-repeat;
                background-size: cover;
            }

            #productCard {
                background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url(./media/pics/warehouse.webp) center no-repeat;
                background-size: cover;
            }

            #deliverCard {
                background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url(./media/pics/Delivery\ Truck.webp) center no-repeat;
                background-size: cover;
                // transform: translateY(2rem);
            }
        }
    }

}

#thirdSection::before{
    content:"";
    position:absolute;
    left:0;
    top:-2%;
    width: 100%;
    z-index:5;
 height:70%;
 background: #e5fddf;
 transform-origin: top left;
 transform: skewY(5deg);
}

// #thirdSection::after{
//     content:"";
//     position:absolute;
//     left:0;
//     top:20%;
//     width: 100%;
//     z-index:-50;
//  height:75%;
//  background: rgba(18, 56, 172, 1);
// //  transform-origin: top left;
// //  transform: skewY(-7deg);
// }



/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

#fourthSection {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: var(--chunkPaddingTopBot) calc(var(--contentPadding)*2);
    // background-color: $lightGreen;


    >* {
        flex: 1;
    }



    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: .5rem;
    }

    #teamContentContainer {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        overflow: hidden;
        height: 100%;
        margin: auto;

        >* {
            flex: 1;
        }

        #aboutUsContent {
            max-width: var(--textContainerMax);
            padding: 0 2rem;
            margin-bottom: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;

            #aboutUsContentLinks {
                padding-top: 2.5rem;
                list-style-type: none;
                display: flex;
                flex-direction: row;

                li {
                    width: 100%;
                    border: 0.15rem solid $lightGreen;
                    border-radius: .25rem;
                    // margin: 0 1rem;
                    padding: .6rem;
                    text-align: center;

                    h2 {
                        color: $lightGreen;
                    }

                }

                li:hover {
                    cursor: pointer;
                    background-color: $lightGreen;

                    h2 {
                        color: $white;
                    }
                }

            }
        }


    }

    #teamPicContainer {
        flex: var(--largePicFlex);
        margin-right: var(--largePicMargin);
    }



}

////////////////////////////////////////////////////////////////@at-root
/// CONTACT PAGE ///////////////////////////////@at-root
/// ////////////////////////////////////////////////////////////////@at-root

#aboutUsQuote{
    margin-top: var(--minPadding);}

#modifiedPageSection {
    padding-top: 0;
    padding-bottom: 0;
}

#Model{
    padding-top: calc(var(--minPadding)/2);
    padding-bottom: calc(var(--minPadding)/2);

    h4{
        padding:calc(var(--minPadding)/5);
        text-align: center;
        font-weight:600;
    }
}

#contactMain {
    padding: 0 calc(var(--minPadding)*2);
    margin-bottom: var(--minPadding);
    display: flex;
    flex-direction: row;

    section {
        background-color: $lightGreen;
        padding: calc(var(--minPadding)/1.5);
        flex: 1;
        max-width: 40%;
        border-radius: 0.5rem;

        h1,
        p {
            color: $white;
            padding: 0.15rem;
        }


        form {
            display: flex;
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: calc(var(--minPadding)/2.5);

            p {
                margin-bottom: 1rem;
                font-size: calc(var(--psize)*1.2);
            }

            .inputField {
                flex: 1 1 220px;
                min-height: var(--h1size);
                position: relative;
                margin: 0 0 calc(var(--minPadding)/3) 0;

                .requiredIndicator {
                    position: absolute;
                    left: auto;
                    right: 1rem;
                    top: 1rem;
                    color: $complimentaryColor;
                }

                input,
                textarea,
                button {
                    width: 100%;
                    height: 100%;
                    padding: calc(var(--h2size)*1.2) 1rem 1rem 1rem;
                    font-size: var(--psize);
                    border-radius: 0.35rem;
                    resize: none;
                }

                label {
                    position: absolute;
                    left: 0;
                    top: 50%;
                    padding: 0.25rem 0 0 1rem;
                    transform: translateY(-50%);
                    font-size: var(--psize);
                    pointer-events: none;
                    transition: ease-out 0.15s;
                }

                textarea+label {
                    top: 2rem;
                }


                input:focus+label,
                textarea:focus+label {
                    top: 0;
                    transform: scale(0.8) translateX(-8%);
                    color: $matteBlack;
                }

                input:not(:placeholder-shown)+label,
                textarea:not(:placeholder-shown)+label {
                    top: 0;
                    transform: scale(0.8) translateX(-8%);
                    // transform-origin: top left;
                    color: $matteBlack;
                }

            }

            .fullWidth {
                flex: 1 1 100%;

                button {
                    padding: 1.25rem;
                    background-color: $yellow;
                }

                button:hover {
                    cursor: pointer;
                    background-color: $yellowHover;
                }
            }
        }



    }


    #mapElements {
        flex: 2;

        p {
            color: $darkBlack;
            padding: 0.25rem 0;
        }


        display: flex;
        flex-direction:column;
        padding: 0 0 0 calc(var(--minPadding)/2);

        a {
            text-decoration: dotted underline $matteBlack;
        }


        #map {
            flex: 1.5;
            border: 1px solid #008c1536;
            min-height:200px;
        }

        #mapAddress {
            flex: 1;
            margin-top: calc(var(--minPadding)/1.5);

            #acknowledgement {
                margin-top: 1.5rem;
                font-size: calc(var(--psize)*.6);
            }
        }



    }

}


////////////////////////////////////////////////////////@at-root
/// BUSINESS PAGES
/// ////////////////////////////////////////////////////////////////@at-root

.pageHeader {
    // position: relative;
    height: var(--commonPageHeaderHeight);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-size: cover;
    padding: 0 0 var(--minPadding) calc(var(--minPadding)*1.75);
    // margin:0 5rem;
    // box-shadow: 0 .5rem 2rem rgba(17, 17, 26, 0.08);



    h1 {
        font-family: NHD;
        color: rgba(255, 255, 255, 0.9);
        font-size: var(--businessh1Size);
        // font-weight:normal;
        margin-bottom: 0rem;
        // text-shadow: 1px 1px 2px #000 // mix-blend-mode: difference;
    }


}

#engineeringHeader {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(./media/pics/EngineeringHeader.webp);
    // background-position: left;
}

#manufacturingHeader {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(./media/pics/ManufacturingHeader.webp);
    background-position: bottom;
}

#deliverHeader {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(./media/pics/logisticsShipping.webp);
    background-position: bottom;
}

#aboutUsHeader {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(./media/pics/aboutUsHeader.png);
    background-position: top;
}


#contactHeader {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(./media/pics/sytecBuilding.webp);
    background-position: top;
    background-size: cover;
}

.pageSection {
    background-color: white;
    padding: calc(var(--minPadding)*1.75) var(--minPadding);


    * {
        max-width: var(--textContainerMax);
        margin: 0 auto;
    }


    h2 {
        border-left: solid 1rem $lightGreen;
        padding-left: 1.5rem;
        font-weight: 500;
        margin-bottom: 1.75rem;
    }
}

.contentList {
    background-color: white;
    // width: inherit;
    padding-bottom: 5rem;
    // box-sizing:border-box;

    .contentContainer {
        // width: inherit;
        display: flex;
        padding-left: calc((100% - (var(--textContainerMax)))/2);
        height: 475px;
        margin-bottom: 2rem;

        hgroup {
            flex: 0 0 calc((var(--textContainerMax)/2) - 1rem);
            padding: 0 var(--minPadding);
            margin-right: 1rem;
            // border-radius: 0.5rem;
            // border: 1px solid #f0eeee;
            // box-shadow: 0 .5rem 1.5rem rgba(17, 17, 26, 0.05);

            display: flex;
            flex-direction: column;
            justify-content: center;

            background-color: #eef5f2;
            // background-color: #f0f0f0;
            // box-shadow: 0 .5rem 2rem rgba(17, 17, 26, 0.5);

            h2 {
                // font-size:calc(var(--h2size)*1.2);
                font-weight: 800;
                color: $lightGreen;
                margin-bottom: 1rem;
            }

            p {
                em {
                    font-size: var(--psize);
                }
            }
        }

        img {
            flex: 1;
            width: 100%;
            height: 100%;
            margin-left: 1rem;
            object-fit: cover;
            // border-radius: 0.5rem 0 0 0.5rem;
            min-width: 0;
        }


    }

    .contentContainer:nth-child(even) {
        flex-direction: row-reverse;
        padding-right: calc((100% - (var(--textContainerMax)))/2);
        padding-left: 0;

        hgroup {
            margin-left: 1rem;
            margin-right: 0;
        }

        img {
            margin-right: 1rem;
            margin-left: 0;
            // border-radius: 0 0.5rem 0.5rem 0;
        }
    }
}


/*# sourceMappingURL=styles.css.map */
/*#gallery*/
.gallery {
    background-color: #f4f4f4;
    padding: 5rem 0;
  }
  
  .gallery h2 {
    font-size: calc(var(--h2size)*1.5);    
    // color: #008c15;
    border: none;
    margin-bottom:2rem;
    text-align:center;
  }
  
  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gallery-item {
    margin: 10px;
    width: 400px; /* Fixing the width of each gallery item */
    height: 200px; /* Fixing the height of each gallery item */
    overflow: hidden; /* To ensure images don't overflow the fixed height */
  }
  
  .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the entire image is visible within the fixed height and width */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Media query for tablets */
  @media (min-width: 768px) {
    .gallery-item {
      width: calc(33.3333% - 20px); /* Adjusting width for tablets */
    }
  }
  
  /* Media query for desktops */
  @media (min-width: 992px) {
    .gallery-item {
      width: calc(25% - 20px); /* Adjusting width for desktops */
    }
  }


  //////////////////////////////////////////////////////////////////////////////////
  /// ABOUT US
  /// ///////////////////////////////////////////////////////////////////////////
  .aboutUsImage{

    width:var(--textContainerMax);
    margin:0 auto;
    
    img{    
    object-fit: cover;
    width: 100%;  
   }
  }


  #spotlight .spl-title {
    color:white;
  }

model-viewer {
  width: 100%;
  height: 400px;
}

/////////////////////////////////////////////////////////////////////////////////////// 
/// FOOTER STYLES
////////////////////////////////////////////////////////////////@at-root

#footer {
    width: 100%;
    flex-shrink: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: calc(var(--minPadding)/1.25) var(--minPadding);
    background-color: #222222;
    justify-content: center;
    // border-radius: 1.5rem 1.5rem 0 0;

    ul {
        list-style: none;
        margin: 0 2rem;
    }


    h3 {
        font-weight: bold;
        color: white;
        margin-bottom: 0.15rem;
    }

    img {
        height: 2.75rem;
    }

    #externalLinks li {
        display: inline;
        padding: 0 0.8rem;
    }

    #footerTagline{
        position:absolute;
        top: 50%;
        left: 3%;
        transform: translateY(-50%);

        #second{
            margin-left: 1rem;
        }

        #third{
            margin-left: 3rem;
        }

        h2{
            padding:0.25rem 0;  
            color:#ffffff4d 
        }
    }
}

#footer * {
    color: #f8f8f8;
    margin-bottom: 0.05rem;
}

/////////////////////////////////////////////////////////////////////////////////////////////
//Shared Classes

.animateLeft,
.animateRight {
    opacity: 0;
}

.buttonTransition {
    transition-property: background-color, color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///KEYFRAME ANIMATIONS GO HERE//////
/// 
@keyframes animateLeft {
    0% {
        opacity: 0;
        transform: translate(10%, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes animateRight {
    0% {
        opacity: 0;
        transform: translate(-10%, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0.1;
        transform: translate(30%, 0);
    }
}


@keyframes scrollDown {
    0% {
        bottom: 15%;
        opacity: 0.15;

    }


    60%,
    100% {
        bottom: 11%;
        opacity: 1;

    }
}

@keyframes logoBannerScroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc((var(--customerLogoWidth))* -7))
    }
}

@keyframes logoBannerScrollReverse {

    0% {
        transform: translateX(calc((var(--customerLogoWidth))* -7))
    }

    100% {
        transform: translateX(0);
    }

}

@keyframes expandNavBar {

    30%,
    70% {
        width: 100%
    }


}


////////////////////////////////////////////////////////////////////////////


@media (max-width:1420px) {
   
    #thirdSection {
        padding: calc(var(--chunkPaddingTopBot)*1.5) calc(var(--contentPadding)/ 2);
    }


    #contactMain {

        section {
            flex: 1;
            max-width: 50%;
        }

        #mapElements {
            flex: 1;

            #map {
                flex: 3;
            }

                    }

    }
}

@media (max-width:1280px) {

    :root {
        --logoContainerHeight: 5rem;
    }

}

@media(max-width:1150px) {

    :root {
        --minPadding: 3rem;
        --serviceCardPadding: 2rem;
        --largePicMargin: 1rem;
    }

    #thirdSection {
        
        height: auto;

        #thirdSectionContainer {
            flex-direction: column;

            #servicesContent {
                flex: 1;
                margin-bottom: 2rem;
                margin-right: 0;
            }


            #cardFlexContainer {
                height: 100%;
                width: 100%;
                flex: 2.5;

                .servicesCard {
                    margin: .625rem;
                    width: calc(50% - 2rem);
                }

                
            .servicesCard p {
                height: auto;
                max-height: 500px;
                opacity: 1;
            }

            .servicesCard #learnMoreContainer h3 {
                max-width: 15rem;
                margin-right: 3rem;
                width: auto;
                overflow: hidden;
                opacity: 1;
            }

            .servicesCard #learnMoreContainer::after {
                transform: rotate(0);
            }            


            }
        }
    }


    #teamContentContainer {
        picture {
            display: none;
        }
    }

    #fourthSection {
        height: auto;
        padding: var(--chunkPaddingTopBot) calc(var(--contentPadding)/2);

        #teamContentContainer {
            #aboutUsContent {

                margin-bottom: 0;

                #aboutUsContentLinks {
                    flex-direction: column;

                    li {
                        width: 100%;
                        margin: .5rem auto;
                    }
                }
            }
        }


    }

    .pageSection {
        padding: calc(var(--minPadding)*2.25) var(--minPadding);
    }

    #footerTagline{
        display: none;
    }



}

@media (max-width:900px) {

    * {
        font-size: 10.5px;
    }

    :root {
        --largePicFlex: 1;
        --logoContainerHeight: 6rem;
        --textContainerMax: 90vw;
        --commonPageHeaderHeight: 360px;
        --businessh1Size: 8vw;
    }


    #contactMain {
        // padding-top: var(--headerHeight);
        display: flex;
        flex-direction: column;

        section {
            max-width: 100%;
            padding: calc(var(--minPadding)*1.25);
        }


        #mapElements {
            flex: 1;
            min-height: 70vh;
            padding: var(--minPadding) 0;
        }


    }




}

@media (max-width:800px) {



    :root {
        // --chunkPaddingTopBot: 6rem;
        --serviceCardPadding: 3rem;
    }


    .chunk {
        max-height: none;
    }

    .header {

        #headerFlexContainer {
            #headerRight {
                li {


                    .desktopNav {
                        display: none;
                    }


                    #openSideNav {
                        display: block;
                    }

                }
            }
        }
    }


    #thirdSection {
        #thirdSectionContainer {

            #cardFlexContainer {
                .servicesCard {
                    width: calc(100%);
                    // border-radius: .5rem;
                    margin: 1.75rem auto;
                    min-height: calc(100vw/2.2);
                }
            }
        }


    }

    #fourthSection {
        flex-direction: column;
        padding: var(--chunkPaddingTopBot) var(--minPadding);

        #teamContentContainer {
            flex: 0 0 auto;
            margin-bottom: var(--minPadding);

            #aboutUsContent {

                padding: 0;

                #aboutUsContentLinks {
                    flex-direction: row;

                    li {
                        width: 48%;
                        // margin:0.5rem 1%;
                    }
                }
            }
        }

        #teamPicContainer {
            flex: 1 1 auto;
            margin: 0;
            overflow: hidden;

            img {
                //with width@100%, the image was not occupying the full div area. im scaling the image by 2x and then translating it left to have the guy in focus

                max-height: 500px;
                width: auto;
                //    transform: translateX(-30%);
            }
        }
    }
}

@media (max-width:600px) {

    * {
        font-size: 9.5px;
    }

    :root {
        // --headerHeight: 4rem;
        --commonPageHeaderHeight: 275px;

        --psize: 1.6rem;
    }



    #mainPage {
        #helloContent {
            text-align: center;

            p,
            #yearsAlive {
                font-size: var(--psize);
            }
        }
    }

    #thirdSection {
        padding: 0 0;
        background-color: $lightGrey;

        #thirdSectionContainer {
            padding: var(--chunkPaddingTopBot) var(--minPadding);
            box-shadow: none;
        }
    }

    #fourthSection {

        #teamContentContainer {
            #aboutUsContent {

                #aboutUsContentLinks {

                    li {
                        background-color: $lightGreen;

                        h2 {
                            color: $white;
                        }
                    }
                }
            }
        }
    }

    #contactMain{
        padding: 0 calc(var(--minPadding));
    }

    .pageSection {
        padding: calc(var(--minPadding)*2) calc(var(--minPadding)) 0 calc(var(--minPadding));
    }


    .contentList {

        padding: 0;

        .contentContainer,
        .contentContainer:nth-of-type(even) {
            flex-direction: column;
            margin: calc(var(--minPadding)*2) var(--minPadding);
            padding: 0;
            height: auto;
            border: 1px solid #f5f4f4;
            border-radius: .5rem;

            hgroup {
                // flex: 0 0 calc(50%);
                padding: calc(var(--minPadding)*1.25);
                border-radius: none;
                border: none;
                margin: 0;
                border-radius: 0;
                max-height: 300px;
            }

            img {
                margin: 0;
                border-radius: 0 0 0.5rem 0.5rem;
                max-height: 300px;
            }




        }


    }


    #footer {
        ul:first-child {
            display: none;
        }

        img {
            height: 3rem;
        }

        #externalLinks {
            display: flex;
            flex-direction: column;

            li {
                padding: 0;
                margin-bottom: .5rem;
            }
        }
    }


}

@media (max-width:450px) {
    :root {
        // --minPadding: 2rem;
        --chunkPaddingTopBot: 10rem;
        --helloContentPosition: 25rem;
    }

    .chunkMinHeight {
        min-height: 650px;
    }

    #headerContactButton {
        display: none;
    }

    #thirdSection {

        #thirdSectionContainer {


            #cardFlexContainer {

                .servicesCard {
                    height: calc(100vw/1.33);
                }
            }
        }


    }



    #fourthSection {

        #teamPicContainer {
            img {
                // max-height: 375px;
                transform: translateX(-30%);
            }
        }
    }
}

@media (max-width:390px) {
    #fourthSection {

        #teamPicContainer {
            img {
                max-height: 375px;
                transform: translateX(-30%);
            }
        }
    }

    #secondSection {

        #logoFlexContainer {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            padding: 4rem 0;
            overflow: hidden;
            position: relative;
        }
    }

}
