@font-face {
  font-family: "NHD";
  src: url("./Fonts/NHGD/NeueHaasDisplayMediu.ttf");
}
@font-face {
  font-family: "Manrope";
  src: url("./Fonts/Manrope.ttf");
}
:root {
  --h1size: 3.75rem;
  --h2size: 2rem;
  --h3size: 1.3rem;
  --h4size: 1.1rem;
  --psize: 1.3rem;
  --contentWidth: 10rem;
  --textContainerMax: 900px;
  --customerLogoWidth: 22rem;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Manrope, sans-serif;
  color: #18191b;
  box-sizing: border-box;
  font-size: 13px;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}
* a {
  text-decoration: none;
  font-size: inherit;
  font-weight: inherit;
}

h1 {
  font-size: var(--h1size);
  margin-bottom: 1.4rem;
  color: #008c15;
}

h2 {
  font-size: var(--h2size);
  font-weight: regular;
}

h3 {
  font-weight: normal;
  font-size: var(--h3size);
}

h4 {
  font-weight: normal;
  font-size: var(--h4size);
}

p,
#yearsAlive {
  font-size: var(--psize);
  color: #3c3c3d;
}

.chunk {
  width: 100%;
  min-height: calc((100vw)*8/16);
  height: 100vh;
  max-height: 100vw;
}

html,
body {
  height: 100%;
}

body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.forceFooterDown {
  flex: 1 1 auto;
}

.header {
  position: fixed;
  z-index: 101;
  width: 100%;
  padding-left: calc(100vw - 100%);
  max-width: 100%;
  height: 3.75rem;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(0.7rem);
}
.header #headerFlexContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem calc(5rem - calc((100vw - 100%)/2));
}
.header #headerFlexContainer #logo {
  height: var(--h3size);
}
.header #headerFlexContainer #headerRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
}
.header #headerFlexContainer #headerRight li {
  height: 100%;
}
.header #headerFlexContainer #headerRight li #headerContactButton {
  border: 2.65px #B03C00 solid;
  color: #B03C00;
  font-size: var(--psize);
  font-weight: 600;
  padding: 0.25rem 2rem;
  border-radius: 0.3rem;
  margin-right: 5rem;
  transition: all 0.2s;
}
.header #headerFlexContainer #headerRight li #headerContactButton:hover {
  background-color: #B03C00;
  color: #fff;
  cursor: pointer;
}
.header #headerFlexContainer #headerRight li #headerMenuButton {
  background-color: transparent;
  width: 3.5rem;
  height: 14.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.header #headerFlexContainer #headerRight li #headerMenuButton #longBar,
.header #headerFlexContainer #headerRight li #headerMenuButton #midBar,
.header #headerFlexContainer #headerRight li #headerMenuButton #shortBar {
  height: 2px;
  flex: 0 0 auto;
  width: 100%;
  background-color: #3c3c3d;
  transition: all 0.3s;
}
.header #headerFlexContainer #headerRight li #headerMenuButton #midBar {
  width: 66%;
}
.header #headerFlexContainer #headerRight li #headerMenuButton #shortBar {
  width: 45%;
}
.header #headerFlexContainer #headerRight li #headerMenuButton:hover {
  cursor: pointer;
}
.header #headerFlexContainer #headerRight li #headerMenuButton:hover #longBar,
.header #headerFlexContainer #headerRight li #headerMenuButton:hover #midBar,
.header #headerFlexContainer #headerRight li #headerMenuButton:hover #shortBar {
  width: 100%;
}

#mainPage {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
#mainPage #helloContent {
  max-width: var(--textContainerMax);
  margin: 0 5rem;
  padding-bottom: 20rem;
  text-align: left;
}
#mainPage #helloContent p,
#mainPage #helloContent #yearsAlive {
  font-size: calc(var(--h2size)*.8);
  font-weight: lighter;
}
#mainPage #helloContent * {
  color: #fff;
}
#mainPage video {
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: brightness(55%);
}
#mainPage #iconScrollDown {
  position: absolute;
  left: 50%;
  background: url(./media/line-angle-down-icon.svg) center no-repeat;
  animation: 1.25s infinite scrollDown ease-in-out;
}

#customerContainer {
  padding: 7rem var(--contentWidth);
  position: relative;
}
#customerContainer #customerContent {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  transform: translate(0, -50%);
  width: 100%;
  max-width: var(--textContainerMax);
  margin: 0 auto;
  z-index: 100;
}
#customerContainer #customerContent * {
  margin: 0 5rem;
}
#customerContainer #customerContent h1 {
  margin-bottom: 1.4rem;
}
#customerContainer #logoFlexContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
  position: relative;
}
#customerContainer #logoFlexContainer::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0.7) 20%, rgba(255, 255, 255, 0.7) 80%, white 100%);
  content: " ";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  Left: 0;
}
#customerContainer .logosRow1,
#customerContainer .logosRow2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
#customerContainer .logosRow1 {
  animation: logoBannerScroll 66s linear infinite;
}
#customerContainer .logosRow2 {
  animation: logoBannerScrollReverse 77s linear infinite;
}
#customerContainer .logoContainer {
  flex: 0 0 var(--customerLogoWidth);
  height: 7rem;
  margin: 4rem 0;
}
#customerContainer img {
  width: 100%;
  height: 100%;
  padding: 0 4rem;
  object-fit: contain;
  pointer-events: none;
}

#servicesChunk {
  background-image: url("./media/waveBackgroundLine.svg");
  background-size: cover;
  background-color: #edeeef;
  display: flex;
  padding: 8rem 10rem;
  flex-direction: column;
  align-items: center;
}
#servicesChunk #servicesContent {
  margin-bottom: 2.5rem;
}
#servicesChunk #cardFlexContainer {
  flex: 4;
  display: flex;
}
#servicesChunk #cardFlexContainer .servicesCard {
  position: relative;
  flex: 1;
  margin: 0 1rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
  border-radius: 0.75rem;
  transition: all 0.25s ease-in-out;
}
#servicesChunk #cardFlexContainer .servicesCard #learnMoreContainer {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: var(--h3size);
}
#servicesChunk #cardFlexContainer .servicesCard #learnMoreContainer::after {
  content: "";
  background: url("./media/arrow-thin-right-icon.svg") no-repeat center;
  transform: rotate(-45deg) scale(1.5);
  height: var(--h3size);
  width: var(--h3size);
  transition: all 0.25s ease-in-out;
}
#servicesChunk #cardFlexContainer .servicesCard #learnMoreContainer h3 {
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.75s ease-in-out;
}
#servicesChunk #cardFlexContainer .servicesCard * {
  margin: 1rem 0;
  color: #fff;
}
#servicesChunk #cardFlexContainer .servicesCard p {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
#servicesChunk #cardFlexContainer .servicesCard:hover p {
  height: auto;
  max-height: 500px;
  opacity: 1;
}
#servicesChunk #cardFlexContainer .servicesCard:hover #learnMoreContainer h3 {
  max-width: 15rem;
  margin-right: 3rem;
  width: auto;
  overflow: hidden;
  opacity: 1;
}
#servicesChunk #cardFlexContainer .servicesCard:hover #learnMoreContainer::after {
  transform: rotate(0);
}
#servicesChunk #cardFlexContainer #engineeringCard {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url(./media/pics/Engineering.jpg) center no-repeat;
  background-size: cover;
}
#servicesChunk #cardFlexContainer #manfacturingCard {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url(./media/pics/Welding.jpg) center no-repeat;
  background-size: cover;
}
#servicesChunk #cardFlexContainer #paintCard {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url(./media/pics/Powder_Coat.jpg) center no-repeat;
  background-size: cover;
}

#teamChunk {
  position: relative;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 0rem var(--contentWidth);
}
#teamChunk #aboutUsContent {
  width: 75%;
  margin-bottom: 3rem;
}
#teamChunk #aboutUsContent h1 {
  margin-bottom: 2rem;
}
#teamChunk #aboutUsContentLinks {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 2rem;
}
#teamChunk #aboutUsContentLinks li {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: space-between;
  border-bottom: 0.19rem solid #008c15;
  padding: 1.5rem 0;
}
#teamChunk #aboutUsContentLinks li h2 {
  color: #008c15;
  margin-left: 1rem;
}
#teamChunk #aboutUsContentLinks li:hover {
  cursor: pointer;
  background-color: #008c15;
}
#teamChunk #aboutUsContentLinks li:hover h2 {
  color: #fff;
}

#contactMain {
  padding: 10rem 0 0 5rem;
  position: relative;
}
#contactMain hgroup {
  position: relative;
  z-index: 100;
  background-color: #06645f;
  width: fit-content;
  padding: 3rem;
}
#contactMain hgroup a {
  text-decoration: dotted underline;
}
#contactMain hgroup * {
  color: #fff;
}
#contactMain #map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#hoursFlex {
  display: inline-flex;
  flex-direction: column;
  padding-left: 1rem;
}

#hoursFlex * {
  display: inline-block;
  text-align: left;
  color: #fff;
}

.pageHeader {
  position: relative;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.pageHeader h1 {
  font-family: NHD;
  color: white;
  font-size: calc(var(--h1size)*1.5);
  margin-bottom: 0rem;
  padding-top: 3rem;
  font-weight: bold;
  letter-spacing: 0.13rem;
}

#engineeringHeader {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(./media/pics/EngineeringHeader.jpg);
}

#manufacturingHeader {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(./media/pics/ManufacturingHeader.jpg);
  background-position: bottom;
}

.pageSection {
  padding: 9rem calc((var(--contentWidth)));
}
.pageSection h2 {
  border-left: solid 1rem #008c15;
  padding-left: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.75rem;
}

.contentList {
  width: 100%;
  padding-bottom: 5rem;
}
.contentList .contentContainer {
  display: flex;
  padding-left: calc((var(--contentWidth)));
  height: 500px;
  margin-bottom: 2rem;
  width: 100%;
}
.contentList .contentContainer hgroup {
  width: calc(((100% - ((var(--contentWidth))))/2));
  padding: 0 5rem;
  border-right: 1rem solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #eef5f2;
}
.contentList .contentContainer hgroup h2 {
  font-weight: 700;
  color: #008c15;
  margin-bottom: 1rem;
}
.contentList .contentContainer hgroup p em {
  font-size: var(--psize);
}
.contentList .contentContainer img {
  flex: 1;
  border-left: 1rem solid #fff;
  object-fit: cover;
}
.contentList .contentContainer:nth-child(even) {
  flex-direction: row-reverse;
  padding-right: calc((var(--contentWidth)));
  padding-left: 0;
}
.contentList .contentContainer:nth-child(even) hgroup {
  border-left: 1rem solid #fff;
  border-right: none;
}
.contentList .contentContainer:nth-child(even) img {
  border-right: 1rem solid #fff;
  border-left: none;
}

#footer {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: 3rem 35rem;
  background-color: #edeeef;
  justify-content: center;
}
#footer ul {
  list-style: none;
  margin: 0 2rem;
}
#footer h3 {
  font-weight: bold;
  color: #18191b;
}
#footer img {
  height: 2.75rem;
}
#footer #externalLinks li {
  display: inline;
  padding: 0 0.8rem;
}

#footer * {
  color: #3c3c3d;
}

@keyframes scrollDown {
  from {
    bottom: 7%;
    opacity: 0;
    width: 3rem;
    height: 3rem;
  }
  to {
    bottom: 4.5%;
    opacity: 0.6;
    width: 2rem;
    height: 2rem;
  }
}
@keyframes logoBannerScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc((var(--customerLogoWidth))* -8));
  }
}
@keyframes logoBannerScrollReverse {
  0% {
    transform: translateX(calc((var(--customerLogoWidth))* -8));
  }
  100% {
    transform: translateX(0);
  }
}

/*# sourceMappingURL=styles.css.map */
