* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Manrope, sans-serif;
    font-size: 16px;
    color: #1a1a1a;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Mont";
    src: url("./Fonts/Montserrat/Montserrat.ttf");
}


@font-face {
    font-family: "Manrope";
    src: url("./Fonts/Manrope[wght].ttf");
}

$sytecColor :#166353;
$themeColor: #1a1a1a;
$offWhite: #fbfbfb;
$goldColor: #fbf778;
$logoWidth: 22rem;
$contentWidth:17rem;

h1 {
    font-family: Mont;
    font-size: 3rem;
    margin: 1rem 0;
}

h2 {
    font-size: 2.25rem;
}

p,
#yearsAlive {
    font-size: 1.75rem;
}

.chunk {
    width: 100%;
    height: 100vh;
}

.header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    padding: 0 3rem;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
    background-color: $offWhite;

    #headerFlexContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .lists {
            list-style-type: none;
        }

        #logo {
            height: 4rem;
            padding: 1rem 2rem;
        }

        #headerRight {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }


        #headerRight>li {
            font-size: 2rem;
            font-weight: bold;
            margin: 0 1.5rem;
        }

        #headerContactButton {
            background-color: $offWhite;
            color: $themeColor;
            font-size: 1.75rem;
            font-weight: 600;
            padding: .75rem 1.25rem;
            margin: 0.75rem 0;
            border-radius: 0.5rem;
        }

        #headerContactButton:hover {
            background-color: #246e53;
            color: $offWhite;
            cursor: pointer;
        }

        #headerMenuButton {
            background-color: transparent;
            width: 3.75rem;
            height: 1.75rem;
            border-radius: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;

            #longBar,
            #midBar,
            #shortBar {
                height: 0.25rem;
                width: 100%;
                background-color: $themeColor;
                transition: all 0.3s;
            }

            #midBar {
                width: 75%;
            }

            #shortBar {
                width: 55%;
            }
        }

        #headerMenuButton:hover {
            cursor: pointer;

            #longBar,
            #midBar,
            #shortBar {
                width: 100%;
            }
        }
    }
}



#mainPage {
    position: relative;


    #helloContent {
        position: absolute;
        top: 60%;
        margin: 0 $contentWidth;
    }

    #helloContent * {
        color: $offWhite;
    }

    video {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        filter: brightness(55%);
    }

    .icon {
        position: absolute;
        left: 50%;
        background: url(./media/line-angle-down-icon.svg) center no-repeat;
        animation: 1.5s infinite scrollDown;
    }
}


#customerContainer {
    background-color: #f3f3f3;
    // background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
    padding: 5rem $contentWidth;
    position: relative;

    #customerContent {       
        position: absolute;
        top: 40%;
        left:0;
        margin: 0 $contentWidth;
        z-index: 100;
    }

    #logoFlexContainer {        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        overflow: hidden;
        position: relative;
        

        &::after {
            background: linear-gradient(to right, rgb(243, 243, 243) 0%, rgba(243, 243, 243, 0.7) 20%, rgba(243, 243, 243, 0.7) 80%, rgb(243, 243, 243) 100%);
            content: " ";
            height: 100%;
            width: 100%;
            position: absolute;
            z-index: 1;
            top: 0;
            Left: 0;
        }

    }

    .logosRow1,
    .logosRow2 {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

    }

    .logosRow1 {
        animation: logoBannerScroll 70s linear infinite;
    }

    .logosRow2 {
        animation: logoBannerScrollReverse 80s linear infinite;
    }

    .logoContainer {
        flex: 0 0 $logoWidth;
        height: 7rem;
        margin: 4rem 0;
    }

    img {
        width: 100%;
        height: 100%;
        padding: 0 4rem;
        object-fit: contain;
        pointer-events: none;
    }


}

#helloContent,
#customerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#servicesChunk {
    background-color: orange;
}

#teamChunk {
    background-color: black;
}

@keyframes scrollDown {
    from {
        bottom: 7%;
        opacity: 0;
        width: 3rem;
        height: 3rem;
    }


    to {
        bottom: 4.5%;
        opacity: 0.6;
        width: 2rem;
        height: 2rem;
    }
}

@keyframes logoBannerScroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-#{$logoWidth} * 8))
    }
}

@keyframes logoBannerScrollReverse {

    0% {
        transform: translateX(calc(-#{$logoWidth} * 8))
    }

    100% {
        transform: translateX(0);
    }

}