* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

}

@font-face {
    font-family: 'Bitter';
    src: url('./Fonts/Bitter/Bitter-VariableFont_wght.ttf');
}

#main {
    background-color: aqua;
}

#customers {
    background-color: bisque;
}

#services {
    background-color: orange;
}

#team {
    background-color: black;
}

h1{
    font-family: 'Bitter';
    font-size:100px;
    font-weight:900;
}