body {
    background-color: grey;
}


#containerFlex {
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: flex-start;
    align-items: center;   

}

#containerFlex p {
    max-width: 0;
    opacity: 0;
    overflow: hidden;   
    
    transition: all 3s ease-in-out;
}

#containerFlex:hover p {
    max-width: 15rem;
    width: auto;
    overflow: hidden;
    opacity: 1;    
}

#containerFlex::after {
    content: "";
    background: url(../media/arrow-thin-right-icon.svg) no-repeat;
    height: 16px;
    width: 16px;
    display: inline-flex;
}